.footer {
    height: 120px;
    background-color: #383838;
    color: white;
    text-align: center;
}
.link {
    text-decoration: none;
    padding-top: 40px;
    color: #d0d0d0;
}
.credit {
    color: rgb(113, 112, 112);
    padding-bottom: 10px;
}
.recolor {
    color: white;
}
.recolor:hover {
    text-decoration: none;
}