
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.titles {
    text-align: center;
    word-spacing: 50px;
}

.about, .education, .employment {
    color: #383838;
}
.about2, .education2, .employment2 {
    color: white;
}
.about:hover {
    text-decoration: none;
    color: #f9ed69
}
.education:hover {
    text-decoration: none;
    color: #f08a5d;
}
.employment:hover {
    text-decoration: none;
    color: #b83b5e;
}
/* The progress container (grey background) */
.progressContainer {
    width: 100%;
    height: 4px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progressBar {
    height: 4px;
    background: red;
    width: 0%;
  }

@media (max-width: 500px){
    .titles {
        word-spacing: 25px;
    }
}

@media (max-width: 420px){
    .titles {
        font-size: 1rem;
    }
}